# See https://help.github.com/articles/ignoring-files/ for more about ignoring files.

# Dependency directories
/node_modules
/.venv
/.vscode
/.pnp
.pnp.js
/__pycache__


# production
/dist/index.html
/dist/build

# misc
yarn-error.log
